.button {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
}

form {
  width: 300px;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
  background-color: #333333;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
}



  /* Form header style */
  form h2 {
    text-align: center;
    color: green;
  }



  /* Form field labels style */
  form label {
    display: block;
    margin-bottom: 5px;
    color: green;
  }



  /* Form input style */
  form input[type="text"],
  form input[type="password"] {
    width: 94%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid green;
    border-radius: 3px;
  }



  /* Form submit button style */
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }



    /* Form submit button hover style */
    form input[type="submit"]:hover {
      background-color: darkgreen;
    }
