
<form>
  <div class="container">

    <br />

    <label for="uname" ><b>Enter username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" id="usrname" required>

    <br />
    <label for="email"  ><b>Enter your email</b></label>
    <input type="email"  name="email" placeholder="xyz@gmail.com" id="usremail">
    <br />

    <label for="psw"  ><b>Enter Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw"  id="usrpassword" required >


    <br />


    <label for="pswchck"><b>Re-enter </b></label>
    <input type="password" placeholder="Re-enter" name="psw" id="usrconfirm" required>


    <br />

    <div style="text-align:center">
      <a class="button" (click)="addUser()">Sign up</a><br />
    </div>
    <br />



  </div>
  </form>
